# Dependencies
node_modules

# Build outputs
dist
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Cache
.cache
.eslintcache
*.tsbuildinfo
