@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
@import 'tailwindcss';
@import './theme.css';

@layer base {
  body {
    font-family: var(--neo-font-primary);
  }
}
